html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}
body {
    margin: 0;
}
#unity-container {
    width: 100%;
    height: 100%;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    background: #231F20;
}
#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}
#unity-loading-bar {
    width: 100%; /* Ensure the loading bar takes the full width */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Adjust to align items at the bottom */
    align-items: center;
    padding-bottom: 20px; /* Space from the bottom of the screen */
}
#unity-logo {
    text-align: center;
    margin-bottom: 10px;
}
#unity-logo img {
    max-width: 8%;
}
#unity-progress-bar-empty {
    width: 100%; /* Adjust as needed */
    height: 24px;
    margin: 0; /* Remove extra margin */
    text-align: left;
    border: 1px solid black;
    padding: 2px;
    position: fixed;
    bottom: 10px; /* Adjust as needed */
}
#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}
.light #unity-progress-bar-empty {
    border-color: black;
}
.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.spinner {
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid #ffffff;
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spinner-spin 1.1s infinite linear;
}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
